@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.ttf?8e3xvd") format("truetype"),
    url("fonts/icomoon.woff?8e3xvd") format("woff"),
    url("fonts/icomoon.svg?8e3xvd#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-office:before {
  content: "\e90a";
}
.icon-css3:before {
  content: "\e900";
}
.icon-blender:before {
  content: "\e901";
}
.icon-js:before {
  content: "\e902";
}
.icon-php:before {
  content: "\e903";
}
.icon-vscode:before {
  content: "\e905";
}
.icon-vs:before {
  content: "\e906";
}
.icon-cpp:before {
  content: "\e907";
}
.icon-csharp:before {
  content: "\e908";
}
.icon-sql:before {
  content: "\e964";
}
.icon-html5:before {
  content: "\eae4";
}
.icon-git:before {
  content: "\eae7";
}
.icon-photoshop:before {
  content: "\e909";
}
.icon-illustrator:before {
  content: "\e904";
}
